<footer>
    <div class="footer-top text-center">
        <div class="container">
            <div class="row justify-content-center gy-4">
                <!-- Footer Contact -->
                <div class="col-lg-3 col-md-6">
                    <h3>VR Tech Services</h3>
                    <p>
                        Hyderabad<br>
                        Bengaluru<br>
                    </p>
                    <p>
                        <strong>Phone:</strong> +91 - 9874563210<br>
                        <strong>Email:</strong> vrtechservices&#64;gmail.com
                    </p>
                </div>

                <!-- Useful Links -->
                <div class="col-lg-3 col-md-6">
                    <h4>About Us</h4>
                    <ul class="list-unstyled">
                        <li><a class="dropdown-item" href="#overview">VR Overview</a></li>
                        <li><a class="dropdown-item" href="#Philosophy">VR Philosophy</a></li>
                        <li><a class="dropdown-item" href="#Investors">VR Investors Profile</a></li>
                        <li><a class="dropdown-item" href="#Mangement">VR Management</a></li>
                        <li><a class="dropdown-item" href="#Awards">VR Awards</a></li>
                        <li><a class="dropdown-item" href="#clients">VR Clients</a></li>
                        <li><a class="dropdown-item" href="#Corporate">VR Corporate Group</a></li>
                    </ul>
                </div>

                <!-- Our Services -->
                <div class="col-lg-3 col-md-6">
                    <h4>Staffing</h4>
                    <ul class="list-unstyled">
                        <li><a class="dropdown-item" href="#temporary-staffing">Temporary Staffing</a></li>
                        <li><a class="dropdown-item" href="#permanent-staffing">Permanent Staffing</a></li>
                        <li><a class="dropdown-item" href="#employee-leasing">Employee Leasing</a></li>
                        <li><a class="dropdown-item" href="#Executive-serach">Executive Search</a></li>
                        <li><a class="dropdown-item" href="#Master-vender">Master Vender</a></li>
                        <li><a class="dropdown-item" href="#out-placement">Out Placement</a></li>
                    </ul>
                </div>

                <!-- Social Networks -->
                <!-- <div class="col-lg-3 col-md-6">
                    <h4>Our Social Networks</h4>
                    <p>Follow us on our social platforms for the latest updates.</p>
                    <div class="social-links mt-3">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-pinterest'></i></a>
                    </div>
                </div> -->
                
      <!-- Google Map -->
      <div class="col-lg-3 col-md-6">
        <h4>Find Us</h4>
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.5713248620015!2d78.38672617472507!3d17.443319488091496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93f0c4f41b05%3A0x2f2e7882f4e0e6df!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1695981873240!5m2!1sen!2sin"
                width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
            </div>
        </div>
    </div>
    <hr class="footer-divider">
    <div class="footer-bottom text-center">
        <div class="container">
            <p>&copy; Copyright <strong>VRTech</strong>. All Rights Reserved</p>
            <p>Designed by <a href="#">VRTech</a></p>
        </div>
    </div>


    <!-- Scroll-to-Top Arrow Button -->
    <button id="backToTop" class="scroll-top-btn">
        <img src="assets/arrow.png" alt="Scroll to top">
    </button>
</footer>
