<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">


<!-- TOP NAV -->
<div class="top-nav" id="home">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                <p> 
                    <i class='bx bxs-envelope mail-shake'></i> genitjobs&#64;gmail.com
                </p>
                <p> 
                    <i class='bx bxs-phone-call phone-shake'></i> +91 + 9874563210
                </p>
            </div>
            <div id="note" class="d-none d-xl-flex">
                <small>Note: We help you to Grow your Business</small>
            </div>
            <div class="col-auto social-icons">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-pinterest'></i></a>
            </div>
        </div>
    </div>
</div>


  


  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>


<script src="assets/css/jquery.min.js"></script>
<script src="assets/css/bootstrap.bundle.min.js"></script>
<script src="assets/css/owl.carousel.min.js"></script>
<script src="assets/css/app.js"></script>
  </body>